# Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
backend/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
.venv/

# Node/React
node_modules/
/frontend/build
.DS_Store
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.sqlite3
*.db
backend/migrations/schema_*.sql

# Logs
logs/
*.log
nul
 